.searchField{
    margin-left: 15%;
}
.anchor{
    margin-right: 25px;
    text-decoration: none;
    font-weight: 500;
    font-size:large;
    color: black ;
}
.ancho:hover{
   color: rgb(110, 243, 70);
}
.searchBtn{
    background-color: #ff993a;
}
