.bg_color{
    background-color: #47484a;
    color: #fffcfa;
    font-weight: 400;

}
.footer_icon .fa{
    margin: 10px;
    color: white;
    font-size: 25px;
}
.footer_icon .fa:hover{
    color:#ff993a;
}
.explore h3{
  color: #ff993a;
}
.explore a {
    text-decoration: none;
   color: #fffcfa;
}
.explore a:hover{
    color:greenyellow;
    margin-left: 5px;
}